@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Damion&display=swap');


